.destinos-contain{
    padding:0%;
    display: block;
    min-height: 10vh;
   width: 100%;
}

.scrolll{
    max-height: 85vh;
    overflow-y:scroll;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}


.contain-destinos{
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    padding: 100px 0%;
    text-align: center;
}
.contain-destinos h3{
    padding: 20px 0px;
    font-size: 30px;
}
.jobs-contain-total{
    background-color: var(--bg-color);
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, auto));
    align-items: center;
    gap:2rem;
	text-align: center;
    place-content: center;
    padding: 5% 0%;
    width: 100%;
}
.destino-details{
    border-radius: 10px;
    background-color: var(--bgv-color);
    box-shadow: 0 2px 2px #1a1e25;
    height: 90vh;
    width: 40rem;
margin-top: 20px;
    top: 0;
    display: flex;
    justify-content: center;


    
}

.destinos-contain{
    /* min-height: 100vh;
    background-color: var(--bg-color);
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	gap: 2rem;
    align-items: center;
	text-align: center;
    place-content: center;
    padding: 5% 7%;
    background: linear-gradient(0deg,var(--gradient1) 0%, var(--gradient2) 100%); */
    display: flex;
    flex-direction: column;
}

.destinos-contain img{
    width: 100px;
}

.card-destinos{
    background-color: var(--bgv-color);
    width: 25rem;
    min-height: 20vh;
    border-radius: 10px;
    box-shadow: 0 2px 2px #1a1e25;
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;
    text-align: left;
    margin-top: 10px;

}

.card-destinos:hover {
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.7);
    transition: all .40s ease;
}
.card-text{
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-text a{
    
    color: var(--bgv-color);
    text-decoration: none;
}

.card-destinos img{
    width: 100%;
    height: 160px;
}

.card-categori{
    color: var(--bgv-color);
    font-size: 14px;
}

.price-link{
    
    display: flex;
    align-items: center;
    width: 100%;
    gap: 30%;
    
}
.price-link p{
    color: var(--text-color)!important;
}

.btn-detail{
    border-radius: 20px;
    font-size: 14px!important;
    background-color: var( --botones);
    color: var(--bg-color)!important;
    padding: 3px 10px;
    text-decoration: none;
    width: 7rem;
    text-align: center;
    font-weight: 600;
}
.btn-details{
    border-radius: 20px;
    font-size: 14px!important;
    background-color: var( --botones);
    color: var(--bg-color)!important;
    padding: 3px 10px;
    text-decoration: none;
    width: 7rem;
    text-align: center;
    font-weight: 600;
    display: none;
}
.btn-preview{
    border-radius: 20px;
    font-size: 14px!important;
    background-color: var( --botones);
    color: var(--bg-color)!important;
    padding: 3px 10px;
    text-decoration: none;
    width: 7rem;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}

.card-price{
    color: var(--text-color)!important;
    font-size: 14px;
    font-weight: 600;
}

.espiral-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    background-color: var(--bg-color);

}
.inputsearch{
    height: 10vh;
    padding: 13px 10px; 
}
.filtros{
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    align-items: center;
    place-content: center;
    gap: 2rem;
}
.inputsearch input{
    background-color: var( --botones)!important;
    border-radius: 20px;
    border: none;
    padding: 13px 10px;
    width: 80%;

    color: var(--bgv-color)!important;
}

.results-no-found{
    margin-bottom: 100vh;
    margin-top: 40%;
    text-align: center;
    font-size: 19px;
    color: var(--botones)!important;
}



.country-continent{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 3rem;
}
select{
    background-color: var( --botones);
    border-radius: 20px;
    border: none;
    padding: 8px 10px;
    width: 11rem;
    color: var(--blanco)!important;
    
}
option{
    border-radius: 20px;
    border: none;
}
.label {
    flex-direction: column;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 15px;
    color: var(--text-color)!important;
    gap: 1rem;
}



.date{
    background-color: var( --bg-contain-text);
    border-radius: 20px;
    border: none;
    padding: 4px 10px;
    width: 16rem;
    margin-left: 23%;
    margin-right: 20%;
    color: var(--botones)!important;
}

.contain-destinos h4{
    font-size: 20px;
    margin-top: -20px;
    font-weight: 400;
}

.info-user-jobs{
    display: flex;
    align-items: center;
    gap: 4px;
}
.info-p{
    font-size: 14px;
    color: var(--text-color)!important;
}
.info-user-img{
    width: 35px!important;
    height: 35px !important;
    border-radius: 100%!important;
}

.jobs-header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding: 20px 5%;
}
.jobs-header img{
    width: 80px;
    object-fit: cover;
    border-radius: 7px;
}
.jobs-header-text{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.jobs-body{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 20px 5%;
    width: 100%;
    gap: 1rem;
    text-align: left;
}
@media (max-width: 500px){
 
    .country-continent{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        gap: 3rem;
    }

    .inputsearch input{
        padding: 10px 10px;
        width: 80%;
        margin-left: 7%;
        margin-right: 7%;
    }
  
   
}

.scrolll::-webkit-scrollbar{
    width: 7px;
    height: 7px;
   
    cursor: pointer;
 }
 
 .scrolll::-webkit-scrollbar-thumb{
     background-color: var(--botones);
     width: 10px;
     border-radius:20px ;
     cursor: pointer;
 }

 

html::-webkit-scrollbar{
    width: 7px;
    height: 7px;
    cursor: pointer;
 }
 
html::-webkit-scrollbar-thumb{
     background-color: var(--botones);
     width: 10px;
     border-radius:20px ;
     cursor: pointer;
 }

